<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW5rADAGjEmeusJRapPX6_KyCy1rU4fps</string>
	<key>GCM_SENDER_ID</key>
	<string>284751265017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ballbot.flutterLab</string>
	<key>PROJECT_ID</key>
	<string>ballbot-first-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ballbot-first-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284751265017:ios:febbfa94177200e717f628</string>
</dict>
</plist>